@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?84nxlk');
  src:  url('../fonts/icomoon.eot?84nxlk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?84nxlk') format('truetype'),
    url('../fonts/icomoon.woff?84nxlk') format('woff'),
    url('../fonts/icomoon.svg?84nxlk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prev:before {
  content: "\e900";
}
.icon-next:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-calendar:before {
  content: "\e903";
}
.icon-carbon:before {
  content: "\e904";
}
.icon-check:before {
  content: "\e905";
}
.icon-molecule:before {
  content: "\e906";
}
.icon-truck:before {
  content: "\e907";
}
.icon-worker:before {
  content: "\e908";
}
