@font-face {
    font-family: 'GothamPro';
    src: url("../fonts/GothamPro/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/GothamPro.otf") format("opentype"), url("../fonts/GothamPro/GothamPro.woff") format("woff"), url("../fonts/GothamPro/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro/GothamPro.svg#GothamPro") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProBold';
    src: url('../fonts/GothamPro/GothamPro-Bold.eot');
    src: url('../fonts/GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff'), url('../fonts/GothamPro/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GothamProBlack';
    src: url('../fonts/GothamPro/subset-GothamPro-Black.eot');
    src: url('../fonts/GothamPro/subset-GothamPro-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamPro/subset-GothamPro-Black.woff') format('woff'), url('../fonts/GothamPro/subset-GothamPro-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
 
@import 'bourbon/bourbon';
@import 'fonts';

body {
    color: #13181f;
    font-family: 'GothamPro';
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}

.page__top {
    padding-top: 20px;
    background-image: url(../img/header-top.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;
}

.nav {
    padding-top: 5px;
}

.nav__item {
    margin-left: 80px;
}

.nav__link {
    color: #fefefe;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    display: block;
    &:hover {
        color: #fefefe;
        text-decoration: none;
    }
    &:after {
        content: "";
        display: block;
        margin-top: 4px;
        width: 23px;
        height: 3px;
        background-color: #fefefe;
        transition: width 0.3s ease-out;
    }
    &:hover:after {
        width: 100%;
    }
}

.header-main {
    color: #fefefe;
    font-family: 'GothamProBlack';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
    padding-top: 230px;
}

.header-main__strong {
    position: relative;
    display: inline-block;
    &:before {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: -14px;
        right: -14px;
        height: 26px;
        background-color: #de1e1e;
    }
}

.header-main__text {
    position: relative;
    z-index: 10;
}

.facts-list {}

.facts-list__item {
    margin-bottom: 30px;
}

.facts-list__icon {}

.facts-list__count {
    font-size: 70px;
    font-weight: 300;
    line-height: 85px;
}

.facts-list__text {
    color: #68727d;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
}

.slider-more {
    color: #de1e1e;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.section {
    padding: 80px 0;
}

.section--grey {
    background-color: #ebf1f5;
}

.section__title {
    color: #627792;
    font-family: 'GothamProBlack';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.section--map {
    background-image: url(../img/map-1.png);
    background-position: center 120px;
    background-repeat: no-repeat;
}

.section--dark {
    background-color: #242d39;
    color: #fefefe;
}

.section__subtitle {
    font-family: 'GothamProBlack';  
    color: #fefefe;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;  
    text-align: center;
    span {
        font-family: 'GothamPro'; 
    }
}

.brand {
    border: 1px solid #d8dce2;
    height: 260px;
    line-height: 210px;
    padding: 20px;
    vertical-align: middle;
    margin-bottom: 30px;
}

.brand__img {
    max-width: 100%;
}

.map-info {
    margin-bottom: 10px;
}

.map-info__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
    &:after {
        content: '';
        display: block;
        background-color: #0067da;
        width: 40px;
        height: 3px;
        margin-top: 15px;
    }
}

.map-info:not(:first-child) {
    margin-top: 40px;
}

.map-info__list {
    dl {
        overflow: hidden;
        margin: 0;
    }
    dt {
        font-size: 15px;
        font-weight: 400;
        line-height: 22px;
        float: left;
    }
    dd {
        color: #627792;
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin: 0 0 0 120px;
        white-space: nowrap;
    }
}

.section-parallax {
    height: 280px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../img/1.jpg);
}

.input {
    position: relative;
    z-index: 1;
    display: block;
    margin: 20px 0 40px;
    width: 100%;
    vertical-align: top;
    border-bottom: 1px solid #fff;

}
.input__field {
    position: relative;
    display: block;
    padding:9px 0;
    width: 100%;
    border: none;
    border-radius: 0;
    background: transparent;
    color: #fefefe;
    font-size: 18px;
    font-weight: 400;
    -webkit-appearance: none;
    outline: none;
}
.input__label {
    position: absolute;
    top: 0;
    bottom: 0;
    color: #fefefe;
    font-size: 18px;
    font-weight: 400;
    left: 0;
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    line-height: 40px;
    pointer-events: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
    transition: transform 0.2s 0.15s, color 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.input__field:focus + .input__label, 
.input--filled .input__label {
    -webkit-transform: translate3d(0, -1em, 0) scale3d(0.75, 0.75, 1);
    transform: translate3d(0, -1, 0) scale3d(0.75, 0.75, 1);
    color: #6e7782
}

.feedback {
    background-color: #13181f; 
    padding: 40px 30px;
}

.feedback__title {
    color: #6e7782;

    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}

.button {
    border: 1px solid #fefefe;
    background-color: transparent;
    display: block;
    width: 100%;
    color: #fefefe;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 0;
    margin-top: 60px;
    .icon-arrow {
        font-size: 12px;
        color: #6e7782;
    }
    &:focus {
        outline: none;
    }
}